@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffff;
}
.container {
  background-color: aqua;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
ul {
  margin: 0%;
  padding: 0%;
}
header li {
  color: rgb(20, 0, 203);
  text-decoration: none;
  font-weight: 500;
  display: inline;
  padding-left: 30px;
}
header a {
  text-decoration: none;
  font-size: 20px;
}
header a:hover {
  color: black;
}
header #brand {
  float: left;
  margin: 0%;
  color: rgb(184, 0, 0);
}
header nav {
  float: right;
}
section {
  padding: 100px 200px;
}
.main {
  background: url("img/3D\ TIGER.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.main h2 {
  color: rgba(31, 0, 68, 0.942);
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 30px;
}
.main h3 {
  color: rgb(0, 128, 255);
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 40px;
}
.main-btn {
  color: #ffff;
  background-color: rgb(3, 95, 95);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: rgb(0, 125, 153);
  transform: scale(1.1);
}
.title {
  display: flex;
  justify-content: center;
  color: blue;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.cards {
  background-color: rgb(191, 191, 191);
}
.content {
  display: flex;
  display: inline-block;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background-color: #ffff;
  border: 1px solid #ffff;
  min-height: 14em;
  width: 24em;
  overflow: hidden;
  border-radius: 10px;
  margin: 15px;
  transition: 0.7s ease;
}
.card:hover {
  transform: scale(1.1);
}

.img img {
  width: 100%;
}

.info {
  padding: 1em;
}
.category {
  font-size: 0.8em;
  color: black;
}
.العنوان {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  margin-top: 10px;
}
.التفصيل {
  text-decoration: none;
  color: #0094ff;
}
.التفصيل:hover {
  color: black;
}

.sinup {
  padding: 100px 200px;
  background: url("img/slide-about-1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.sin-upp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-sizing: border-box;
}
img[alt="user"] {
  position: absolute;
  top: -50px;
  left: 55px;
}
h2 {
  color: #ffff;
  text-align: center;
  margin-top: 90px;
}
input[type="text"],
[type="email"],
[type="password"],
[placeholder="ConfirmPassword"] {
  position: absolute;
  outline: none;
  border: none;
  width: 250px;
  height: 35px;
  border-bottom: 2px solid #0094ff;
  background: none;
  padding: 5px;
  color: #ffff;
}
input[type="text"] {
  top: 140px;
  left: 50px;
}
input[type="email"] {
  top: 200px;
  left: 50px;
}
input[type="password"] {
  top: 250px;
  left: 50px;
}
input[placeholder="اعد كلمة السر"] {
  top: 300px;
  left: 50px;
}
::placeholder {
  color: #ffff;
}
.main-button {
  position: absolute;
  top: 370px;
  left: 110px;
  width: 120px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  background: rgb(0, 128, 255);
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 15px;
  font-size: 20px;
  transition: 0.7s ease;
}
.main-button:hover {
  background: #ffff;
  color: rgb(0, 128, 255);
  transform: scale(1.1);
}
p {
  float: left;
  position: absolute;
  top: 340px;
  left: 160px;
  color: #ffff;
  cursor: pointer;
}
p:hover {
  color: rgb(0, 125, 153);
}

.vadios {
  background: #ffff;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.vadios h2 {
  color: rgba(31, 0, 68, 0.942);
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 30px;
}

footer {
  background: rgb(0, 188, 125);
  text-align: center;
  align-items: center;
  padding: 10px 200px;
}

.icon a {
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  padding-right: 30px;
}
.credits {
  color: rgb(255, 255, 255);
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 10px 200px;
  font-size: 14px;
  text-decoration: none;
}
.faihon {
  color: black;
  text-decoration: none;
}
